<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>927655894637-m7a450skbo10s7vk9b0g7ggv36m8soj9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.927655894637-m7a450skbo10s7vk9b0g7ggv36m8soj9</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>927655894637-v1q79fhf1466rrucfo1o3sui3bb08c12.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCLKF1404i7CS99LrCdBwzavCPlTy5XW3Q</string>
	<key>GCM_SENDER_ID</key>
	<string>927655894637</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ecommerce.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>heal-eb1ef</string>
	<key>STORAGE_BUCKET</key>
	<string>heal-eb1ef.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:927655894637:ios:23c46baa50821849dc2964</string>
	<key>DATABASE_URL</key>
	<string>https://heal-eb1ef-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>